.fixturesContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fixturesContainer h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.roundSelector {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.fixtureItem {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.fixtureHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    order: 1;
}

.leagueLogo, .countryFlag {
    width: 30px;
    height: auto;
}

.fixtureDate, .fixtureVenue {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    order: 2;
}

.fixtureTeamsContainer {
    display: flex;
    justify-content: center;
    order: 3;
    margin-top: 10px;
}

.fixtureItemTeam {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixtureItemTeamLeft {
    justify-content: flex-start;
}

.fixtureItemTeamRight {
    justify-content: flex-end;
}

.teamLogo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.teamLogoRight {
    margin-left: 10px;
    margin-right: 0;
}

.fixtureVersus {
    font-weight: bold;
    font-size: 18px;
    margin: 0 20px;
}

@media (max-width: 768px) {
    .fixtureHeader, .fixtureItemTeam {
        flex-direction: column;
        align-items: flex-start;
    }

    .teamLogoRight {
        margin-top: 5px;
    }

    .leagueLogo, .countryFlag {
        width: 25px;
    }
}
