.resultsContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roundSelector {
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Take the full width */
    border-bottom: 1px solid #e0e0e0; /* Optional: Adds a bottom border for separation */
    padding: 10px 0;
    margin-bottom: 15px;
}

.fixtureHeader {
    display: flex;
    align-items: center;
    width: 100%; /* Take the full width */
    margin-bottom: 10px;
    justify-content: center; /* Center the header content */
}

.leagueLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.countryFlag {
    width: 30px;
    height: 20px;
    margin-left: 10px;
}

.fixtureDate {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
    text-align: center; /* Center the date */
    width: 100%; /* Take the full width */
}

.fixtureVenue {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
    text-align: center; /* Center the venue */
    width: 100%; /* Take the full width */
}

.resultItemTeam {
    flex: 1;
    display: flex;
    align-items: center;
}

.resultItemTeam-left {
    justify-content: flex-end; /* Align content to the right */
}

.resultItemTeam-right {
    justify-content: flex-start; /* Align content to the left */
}

.teamLogo {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.scoreMain {
    font-size: 24px;
    margin: 0 20px;
    width: 80px; /* Set a fixed width for the score */
    text-align: center; /* Center the score within the allocated width */
}

.scorePenalty {
    font-size: 14px;
    margin-top: 5px;
}

.teamName {
    font-size: 16px;
    margin: 0 10px;
}
