/* LeagueAssists.css */

.league-assists-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.league-assists-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.league-assists-table {
    width: 100%;
    border-collapse: collapse;
}

.league-assists-table thead {
    background-color: #f2f2f2;
}

.league-assists-table th,
.league-assists-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.league-assists-player-rank {
    width: 50px;
}

.league-assists-player-info {
    display: flex;
    align-items: center;
}

.league-assists-player-photo,
.league-assists-team-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.league-assists-player-name {
    font-weight: bold;
    display: block; /* Ensures the name is on a new line */
}

.league-assists-team-name {
    display: inline-block; /* Adjust as needed */
    margin-left: 5px; /* Gives some space between the logo and the text */
}

.league-assists-assists {
    font-weight: bold;
    text-align: right;
}

/* Styles for error and no data messages */
.league-assists-error,
.league-assists-no-data {
    color: red;
    text-align: center;
}

/* Add any additional styling you need here */
