.teamSection {
    flex: 0 0 48%;  /* Each team section takes up 48% of the container width */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teamName {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 20px 0;
}

.teamLogo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.statsList {
    list-style-type: none;
    padding-left: 0;
}

.statItem {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
