/* MatchScore.css */

.match-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px; /* Set a max-width for the container */
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-score-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.team-info {
    display: flex;
    align-items: center;
}

.team-logo {
    width: 80px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
}

.goal-details {
    display: flex;
    flex-direction: column;
}

.score {
    font-size: 24px;
    font-weight: bold;
    margin: 0 20px;
}

.timeline-container {
    width: 100%;
}

.timeline-event {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.event-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
}

.event-details {
    font-size: 14px;
}

/* Style for events aligned left or right */
.left {
    justify-content: start;
}

.right {
    justify-content: end;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
